<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <h4 class="title">Agregar Sprint</h4>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Descripción</label>
                    <div class="col-lg-8">
                        <input ng-model="datos.sprint_description" type="" id="" name="sprint_description" class="form-control"
                            placeholder="Descripción" required>
                    </div>
                </div>
                <div class="row" style="margin-left: 2px; margin-top:-20px">
                    <div class="form-group col-md-6 m-t-20">
                        <label>Fecha Inicio:</label>
                        <md-datepicker ng-model="datos.fecha_inicio" md-placeholder="Fecha inicio" ng-change="">
                        </md-datepicker>
                    </div>
                    <div class="form-group col-md-6 m-t-20">
                        <label>Fecha Fin:</label>
                        <md-datepicker ng-model="datos.fecha_fin" md-placeholder="Fecha fin" ng-change="">
                        </md-datepicker>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-lg-12">
                    <button type="button" class="btn btn-success" ng-click="insertar()">Confirmar</button>
                    <button type="button" class="btn btn-inverse" ng-click="limpiar()">Limpiar</button>
                    <button type="button" class="btn btn-default waves-effect" ng-click="cancelar()">Cancelar</button>
                </div>
            </div>
        </div>
        <br>
        <div class="clearfix"></div>
        </form>
    </div>
</div>
