<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <h4 class="title">Modificar Usuario</h4>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Nombre del Proyecto</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.nombre" type="" id="" name="nombre"
                            class="form-control" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Alias</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.alias" type="" id="" name="" class="form-control"
                            placeholder="Alias" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Estado:</label>
                    <div class="col-md-8">
                        <select ui-select2 class="form-control input-sm" tabindex="1"
                            ng-model="selected.modificarDatos.idEstados" name="idEstados" required>
                            <option value="">-- Seleccionar --</option>
                            <option ng-repeat="s in estado" value="{{s.idEstados}}">
                                {{s.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-md-6 m-t-20">
                        <label>Fecha Inicio:</label>
                        <md-datepicker ng-model="selected.modificarDatos.fechaInicio" md-placeholder="Fecha inicio"
                            ng-change="">
                        </md-datepicker>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-md-6 m-t-20">
                        <label>Fecha Fin:</label>
                        <md-datepicker ng-model="selected.modificarDatos.fechaFin" md-placeholder="Fecha fin"
                            ng-change="">
                        </md-datepicker>
                    </div>
                </div>
                <hr>
                <div>
                    <button style="float:right;" type="submit" class="btn btn-info btn-fill btn-wd"> Confirmar</button>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="modificarPoryect" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="modificarPoryect">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
            </div>
            <div class="modal-body">
                <p>¿Est&aacute; seguro que desea realizar el cambio?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="modificarProyecto()">Aceptar</button>
            </div>
        </div>
    </div>
</div>