<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <h4 class="title">Modificar Historias de Usuarios</h4>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Descripción</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.descripcion" type="" id="" name="descripcion"
                            class="form-control" placeholder="Descripción" required>
                    </div>
                </div>
                <div class="form-group row">
                        <label class="col-lg-4 control-label">Proyecto:</label>
                        <div class="col-md-8">
                            <select ui-select2 class="form-control input-sm" tabindex="1" ng-model="selected.modificarDatos.idProyectos"
                                name="idProyectos" required>
                                <option value="">-- Seleccionar --</option>
                                <option ng-repeat="p in proyecto" value="{{p.idProyectos}}">
                                    {{p.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                <hr>
                <div>
                    <button style="float:right;" type="submit" class="btn btn-info btn-fill btn-wd"> Confirmar</button>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="modificarHistoria" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="modificarHistoria">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
            </div>
            <div class="modal-body">
                <p>¿Est&aacute; seguro que desea realizar el cambio?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="modificarHistoria()">Aceptar</button>
            </div>
        </div>
    </div>
</div>