<div class="col-12">
    <div class="row" style="margin-left: 2px">
        <div align="left" class="col-md-11  m-t-20" style="margin-top: -13px; margin-bottom: -10px;">
            <i class="mdi mdi-folder-plus" aria-hidden="true" style="font-size: 41px; cursor: pointer"
                ng-click="agregar()" data-toggle="tooltip" title="Añadir nuevo"></i>
        </div>
    </div>
    <div class="col-12" ng-if="proyecto.length > 0">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                        <thead>
                            <tr>
                                <th style="text-align: center">Proyecto</th>
                                <th style="text-align: center">Alias</th>
                                <th style="text-align: center">Fecha Inicio</th>
                                <th style="text-align: center">Fecha Fin</th>
                                <th style="text-align: center">Estado</th>
                                <!--<th style="text-align: center"></th>-->
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in $data">
                                <td ng-cloak style="text-align: center">{{data.nombre}}</td>
                                <td ng-cloak style="text-align: center">{{data.alias}}</td>
                                <td ng-cloak style="text-align: center">{{data.fechaInicio|date:'dd/MM/yyyy'}}</td>
                                <td ng-cloak style="text-align: center">{{data.fechaFin|date:'dd/MM/yyyy'}}</td>
                                <td ng-cloak style="text-align: center">{{data.estado}}</td>
                                <!--<td ng-cloak style="text-align: center"></td>-->
                                <td>
                                    <i class="mdi mdi-pencil-box"
                                        style="font-size: 22px; color: #2E74B5; cursor: pointer"
                                        ng-click="modificar(data)" data-toggle="tooltip" title="Editar"></i>
                                </td>
                                <td>
                                    <i class="mdi mdi-close-box"
                                        style="font-size: 22px; color: #2E74B5; cursor: pointer" ng-click="eliminar(data)"
                                        data-toggle="tooltip" title="Eliminar"></i>
                                </td>
                                <td>
                                    <i class="mdi  mdi-clipboard-text"
                                        style="font-size: 22px; color: #2E74B5; cursor: pointer" ng-click="verMAs()"
                                        data-toggle="tooltip" title="Product Backlog"></i>
                                </td>
                                <td>
                                    <i class="mdi mdi-account-multiple"
                                        style="font-size: 22px; color: #2E74B5; cursor: pointer" ng-click="users(data)"
                                        data-toggle="tooltip" title="Miembros"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>