<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <h4 class="title">Modificar Historias de Usuarios</h4>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Descripción</label>
                    <div class="col-lg-8">
                        <input ng-model="datos.descripcion" type="" id="" name="descripcion" class="form-control"
                            placeholder="Nombre" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Proyecto:</label>
                    <div class="col-md-8">
                        <select ui-select2 class="form-control input-sm" tabindex="1" ng-model="datos.idProyectos"
                            name="idProyectos" required>
                            <option value="">-- Seleccionar --</option>
                            <option ng-repeat="p in proyecto" value="{{p.idProyectos}}">
                                {{p.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-lg-12">
                            <button type="button" class="btn btn-success" ng-click="insertar()">Confirmar</button>
                            <button type="button" class="btn btn-inverse" ng-click="limpiar()">Limpiar</button>
                            <button type="button" class="btn btn-default waves-effect"
                                ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>