<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <h4 class="title">Agregar Sprint Backlog</h4>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Backlog:</label>
                    <div class="col-md-8">
                        <select ui-select2 class="form-control input-sm" tabindex="1" ng-model="datos.idBacklog"
                            name="idBacklog" required>
                            <option value="">-- Seleccionar --</option>
                            <option ng-repeat="b in backloglis" value="{{b.idBacklog}}">
                                {{b.descripcion}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Sprint:</label>
                    <div class="col-md-8">
                        <select ui-select2 class="form-control input-sm" tabindex="1" ng-model="datos.sprintId"
                            name="sprintId" required>
                            <option value="">-- Seleccionar --</option>
                            <option ng-repeat="sp in sprintlis" value="{{sp.sprintId}}">
                                {{sp.sprintDescription}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Estado:</label>
                    <div class="col-md-8">
                        <select ui-select2 class="form-control input-sm" tabindex="1" ng-model="datos.idEstados"
                            name="idEstados" required>
                            <option value="">-- Seleccionar --</option>
                            <option ng-repeat="s in estado" value="{{s.idEstados}}">
                                {{s.nombre}}
                            </option>
                        </select>
                    </div>
                </div>

            </form>
        </div>
        <hr>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-lg-12">
                    <button type="button" class="btn btn-success" ng-click="insertar()">Confirmar</button>
                    <button type="button" class="btn btn-inverse" ng-click="limpiar()">Limpiar</button>
                    <button type="button" class="btn btn-default waves-effect" ng-click="cancelar()">Cancelar</button>
                </div>
            </div>
        </div>
        <br>
        <div class="clearfix"></div>
        </form>
    </div>
</div>