<div class="col-12">
        <div class="row" style="margin-left: 2px">
            <div align="left" class="col-md-11  m-t-20" style="margin-top: -2px">
                <i class="mdi mdi-playlist-plus" style="font-size: 30px; cursor: pointer" ng-click="agregar()"
                    data-toggle="tooltip" title="Añadir nuevo"></i>
            </div>
        </div>
        <div class="col-12" ng-if="rol.length > 0">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                            <thead>
                                <tr>
                                    <th style="text-align: center">Descripcion</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in $data">
                                    <td ng-cloak style="text-align: center">{{data.rolDescripcion}}</td>
                                    <td>
                                        <i class="mdi mdi-pencil-box"
                                            style="font-size: 22px; color: #2E74B5; cursor: pointer" ng-click="modificar(data)"
                                            data-toggle="tooltip" title="Editar"></i>
                                    </td>
                                    <td>
                                        <i class="mdi mdi-close-box"
                                            style="font-size: 22px; color: #2E74B5; cursor: pointer" ng-click="eliminar(data)"
                                            data-toggle="tooltip" title="Eliminar"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>