<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <h4 class="title">Modificar Sprint Backlog</h4>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Backlog:</label>
                    <div class="col-md-8">
                        <select ui-select2 class="form-control input-sm" tabindex="1"
                            ng-model="selected.sprint.idBacklog" name="idBacklog" required>
                            <option value="">-- Seleccionar --</option>
                            <option ng-repeat="b in backloglis" value="{{b.idBacklog}}">
                                {{b.descripcion}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Sprint:</label>
                    <div class="col-md-8">
                        <select ui-select2 class="form-control input-sm" tabindex="1"
                            ng-model="selected.sprint.sprintId" name="sprintId" required>
                            <option value="">-- Seleccionar --</option>
                            <option ng-repeat="sp in sprintlis" value="{{sp.sprintId}}">
                                {{sp.sprintDescription}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Estado:</label>
                    <div class="col-md-8">
                        <select ui-select2 class="form-control input-sm" tabindex="1"
                            ng-model="selected.sprint.idEstados" name="idEstados" required>
                            <option value="">-- Seleccionar --</option>
                            <option ng-repeat="s in estado" value="{{s.idEstados}}">
                                {{s.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <hr>
                <div>
                    <button style="float:right;" type="submit" class="btn btn-info btn-fill btn-wd"> Confirmar</button>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <!-- MODAL -->

    <div class="modal fade" id="modificarSB" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="modificarSB">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmaci&oacute;n</h4>
                </div>
                <div class="modal-body">
                    <p>¿Est&aacute; seguro que desea realizar el cambio?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="modificar()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>