<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <h4 class="title">Modificar Equipo</h4>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Miembro del Equipo:</label>
                    <div class="col-md-8">
                        <select ui-select2 class="form-control input-sm" tabindex="1"
                            ng-model="selected.proyectoAsignado.idUsuarios" name="idUsuarios" required>
                            <option value="">-- Seleccionar --</option>
                            <option ng-repeat="u in usuario" value="{{u.idUsuarios}}">
                                {{u.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Rol Asignado:</label>
                    <div class="col-md-8">
                        <select ui-select2 class="form-control input-sm" tabindex="1"
                            ng-model="selected.proyectoAsignado.idRoles" name="idRoles" required>
                            <option value="">-- Seleccionar --</option>
                            <option ng-repeat="s in roles" value="{{s.idRoles}}">
                                {{s.rolDescripcion}}
                            </option>
                        </select>
                    </div>
                </div>
                <hr>
                <div>
                    <button style="float:right;" type="submit" class="btn btn-info btn-fill btn-wd"> Confirmar</button>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="cambioPA" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="cambioPA">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
            </div>
            <div class="modal-body">
                <p>¿Est&aacute; seguro que desea realizar el cambio?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="modificar()">Aceptar</button>
            </div>
        </div>
    </div>
</div>