<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <h4 class="title">Modificar Usuario</h4>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Nombre</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.nombre" type="" id="" name="nombre"
                            class="form-control" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">User</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.users" type="" id="" name="nombre" class="form-control"
                            placeholder="users" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Email</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.mail" type="email" id="" name="nombre"
                            class="form-control" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Cedula</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.telefono" type="" id="" name="telefono" class="form-control"
                            placeholder="Cedula" required>
                    </div>
                </div>
                <hr>
                <div>
                    <button style="float:right;" type="submit" class="btn btn-info btn-fill btn-wd"> Confirmar</button>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="cambioUsuario" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="cambioUsuario">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
            </div>
            <div class="modal-body">
                <p>¿Est&aacute; seguro que desea realizar el cambio?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="modificarUsuario()">Aceptar</button>
            </div>
        </div>
    </div>
</div>